* text=auto !eol
/generator.rb -text
gri/basics.dix -text
gri/generator.rb -text
gri/irregular -text
gri/vblex/-esch -text
gri/vblex/a-ai -text
gri/vblex/a-au -text
gri/vblex/a-o -text
gri/vblex/e-ai -text
gri/vblex/simple -text
gri/vblex/u-au -text
gri/vblex/u-ieu -text
gri/vblex/u-o -text
gri/vblex/ua-uau -text
gri/vblex/ua-uo -text
/test_generator.rb -text
