* text=auto !eol
/generator.rb -text
gri/basics.dix -text
gri/generator.rb -text
gri/irregular -text
gri/irregular.dix -text
gri/vblex/-esch -text
gri/vblex/a-ai -text
gri/vblex/a-au -text
gri/vblex/a-o -text
gri/vblex/e-ai -text
gri/vblex/simple -text
gri/vblex/u-au -text
gri/vblex/u-ieu -text
gri/vblex/u-o -text
gri/vblex/ua-uau -text
gri/vblex/ua-uo -text
sur/additions.dix -text
sur/analyze -text
sur/basics.dix -text
sur/generate -text
sur/generator.rb -text
sur/irregular -text
sur/irregular.dix -text
sur/test_proc.rb -text
sur/vblex/a-au -text
sur/vblex/a-ei -text
sur/vblex/a-ia -text
sur/vblex/a-o -text
sur/vblex/complex -text
sur/vblex/cu-que -text
sur/vblex/e-ei -text
sur/vblex/e-ia -text
sur/vblex/i-ai -text
sur/vblex/i-e -text
sur/vblex/i-ei -text
sur/vblex/simple -text
sur/vblex/u-au -text
sur/vblex/u-ie -text
sur/vblex/u-o -text
sur/vblex/u-uo -text
/test_generator.rb -text
/test_proc.rb -text
val/irregular -text
val/vblex/a-ai -text
val/vblex/complex -text
val/vblex/e-ai -text
val/vblex/e-ei -text
val/vblex/o-ou -text
val/vblex/u-o -text
val/vblex/u-ou -text
val/vblex/u-uo -text
